# Create receiver grid

In [1]:
import pandas as pd
import numpy as np

In [2]:
xmin = 597000
xmax= 683000
ymin = 7313000  
ymax = 7365000
num = 101

In [3]:
x_diff = xmax - xmin
x_diff

86000

In [4]:
y_diff = ymax - ymin
y_diff

52000

In [5]:
int(x_diff/100)

860

In [6]:
x_array = np.linspace(xmin, xmax, num=int(x_diff/1000)+1)

In [7]:
y_array = np.linspace(ymin, ymax, num=int(y_diff/1000)+1)

In [8]:
mesh = np.meshgrid(x_array, y_array)

In [9]:
x_coords, y_coords = np.meshgrid(x_array, y_array)

In [10]:
x_coords

array([[597000., 598000., 599000., ..., 681000., 682000., 683000.],
       [597000., 598000., 599000., ..., 681000., 682000., 683000.],
       [597000., 598000., 599000., ..., 681000., 682000., 683000.],
       ...,
       [597000., 598000., 599000., ..., 681000., 682000., 683000.],
       [597000., 598000., 599000., ..., 681000., 682000., 683000.],
       [597000., 598000., 599000., ..., 681000., 682000., 683000.]])

In [11]:
y_coords

array([[7313000., 7313000., 7313000., ..., 7313000., 7313000., 7313000.],
       [7314000., 7314000., 7314000., ..., 7314000., 7314000., 7314000.],
       [7315000., 7315000., 7315000., ..., 7315000., 7315000., 7315000.],
       ...,
       [7363000., 7363000., 7363000., ..., 7363000., 7363000., 7363000.],
       [7364000., 7364000., 7364000., ..., 7364000., 7364000., 7364000.],
       [7365000., 7365000., 7365000., ..., 7365000., 7365000., 7365000.]])

In [12]:
x =  pd.Series(x_coords.reshape(-1))
y =  pd.Series(y_coords.reshape(-1))

In [13]:
df = pd.concat([x,y],axis=1)

In [14]:
df

             0          1
0     597000.0  7313000.0
1     598000.0  7313000.0
2     599000.0  7313000.0
3     600000.0  7313000.0
4     601000.0  7313000.0
...        ...        ...
4606  679000.0  7365000.0
4607  680000.0  7365000.0
4608  681000.0  7365000.0
4609  682000.0  7365000.0
4610  683000.0  7365000.0

[4611 rows x 2 columns]

In [15]:
df.to_csv("receiver_grid.csv", index=False, header=None, sep=" ")

In [16]:
# this is just for illustration purpose
df["z"] = 0.1
df.to_csv("receiver_grid_illustration.csv", index=False, header=None)

## Select only receivers with z<0 

After https://github.com/SeisSol/Meshing/tree/master/remove-groups and https://github.com/SeisSol/Meshing/tree/master/place_receivers

In [29]:
colnames=['X', 'Y', 'Z'] 
df = pd.read_csv("receiver_grid_placed.csv", names=colnames, sep=" ")
df

             X          Y            Z
0     597000.0  7313000.0   565.974176
1     598000.0  7313000.0   554.526693
2     599000.0  7313000.0   645.343880
3     600000.0  7313000.0   760.558024
4     601000.0  7313000.0   834.350592
...        ...        ...          ...
4606  679000.0  7365000.0  -328.679113
4607  680000.0  7365000.0  -338.299449
4608  681000.0  7365000.0  -365.771946
4609  682000.0  7365000.0  -407.392547
4610  683000.0  7365000.0 -1115.025557

[4611 rows x 3 columns]

In [32]:
new_df = df.loc[df['Z'] < 0]
new_df

             X          Y            Z
27    624000.0  7313000.0   -54.018362
28    625000.0  7313000.0  -157.708080
29    626000.0  7313000.0  -182.382594
30    627000.0  7313000.0  -126.256644
113   623000.0  7314000.0    -6.467865
...        ...        ...          ...
4606  679000.0  7365000.0  -328.679113
4607  680000.0  7365000.0  -338.299449
4608  681000.0  7365000.0  -365.771946
4609  682000.0  7365000.0  -407.392547
4610  683000.0  7365000.0 -1115.025557

[2667 rows x 3 columns]

In [33]:
new_df.to_csv("receiver_grid_seafloor.csv", index=False, header=None, sep=" ")