# Create receiver grid

In [98]:
import pandas as pd
import numpy as np

In [99]:
xmin = 597000
xmax= 683000
ymin = 7313000  
ymax = 7365000
spacing = 50

In [100]:
x_diff = xmax - xmin
x_diff

86000

In [101]:
y_diff = ymax - ymin
y_diff

52000

In [102]:
# test
int(x_diff/spacing)

1720

In [103]:
x_array = np.linspace(xmin, xmax, num=int(x_diff/spacing)+1)

In [104]:
y_array = np.linspace(ymin, ymax, num=int(y_diff/spacing)+1)

In [105]:
mesh = np.meshgrid(x_array, y_array)

In [106]:
x_coords, y_coords = np.meshgrid(x_array, y_array)

In [107]:
x_coords

array([[597000., 597050., 597100., ..., 682900., 682950., 683000.],
       [597000., 597050., 597100., ..., 682900., 682950., 683000.],
       [597000., 597050., 597100., ..., 682900., 682950., 683000.],
       ...,
       [597000., 597050., 597100., ..., 682900., 682950., 683000.],
       [597000., 597050., 597100., ..., 682900., 682950., 683000.],
       [597000., 597050., 597100., ..., 682900., 682950., 683000.]])

In [108]:
y_coords

array([[7313000., 7313000., 7313000., ..., 7313000., 7313000., 7313000.],
       [7313050., 7313050., 7313050., ..., 7313050., 7313050., 7313050.],
       [7313100., 7313100., 7313100., ..., 7313100., 7313100., 7313100.],
       ...,
       [7364900., 7364900., 7364900., ..., 7364900., 7364900., 7364900.],
       [7364950., 7364950., 7364950., ..., 7364950., 7364950., 7364950.],
       [7365000., 7365000., 7365000., ..., 7365000., 7365000., 7365000.]])

In [109]:
x =  pd.Series(x_coords.reshape(-1))
y =  pd.Series(y_coords.reshape(-1))

In [110]:
df = pd.concat([x,y],axis=1)

In [111]:
df

                0          1
0        597000.0  7313000.0
1        597050.0  7313000.0
2        597100.0  7313000.0
3        597150.0  7313000.0
4        597200.0  7313000.0
...           ...        ...
1791556  682800.0  7365000.0
1791557  682850.0  7365000.0
1791558  682900.0  7365000.0
1791559  682950.0  7365000.0
1791560  683000.0  7365000.0

[1791561 rows x 2 columns]

In [ ]:
df.to_csv("receiver_grid_{}m.csv".format(spacing), index=False, header=None, sep=" ")

In [ ]:
# this is just for illustration purpose
df_ill["z"] = 0.1
df_ill.to_csv("receiver_grid_illustration.csv", index=False, header=None)

## Create pairs

In [112]:
# 2 vertical lines
trace1 = pd.DataFrame(y_array)
trace1["x"] = xmin + (x_diff+1)/3
trace1["y"] = pd.DataFrame(y_array)
trace1.drop(columns=trace1.columns[0], inplace=True)
trace1

             x          y
0     625667.0  7313000.0
1     625667.0  7313050.0
2     625667.0  7313100.0
3     625667.0  7313150.0
4     625667.0  7313200.0
...        ...        ...
1036  625667.0  7364800.0
1037  625667.0  7364850.0
1038  625667.0  7364900.0
1039  625667.0  7364950.0
1040  625667.0  7365000.0

[1041 rows x 2 columns]

In [113]:
a = trace1.iloc[::20,:]
b = trace1.iloc[::20,:] 
b["y"] = b.y.add(50)
df_pair1 = pd.concat([a,b],axis=0)
df_pair1.sort_values(by="y", inplace=True)
df_pair1.reset_index(inplace=True, drop=True)
df_pair1

/tmp/ipykernel_478388/3258568909.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b["y"] = b.y.add(50)

            x          y
0    625667.0  7313000.0
1    625667.0  7313050.0
2    625667.0  7314000.0
3    625667.0  7314050.0
4    625667.0  7315000.0
..        ...        ...
101  625667.0  7363050.0
102  625667.0  7364000.0
103  625667.0  7364050.0
104  625667.0  7365000.0
105  625667.0  7365050.0

[106 rows x 2 columns]

In [114]:
trace2 = pd.DataFrame(y_array)
trace2["x"] = xmin + (x_diff+1)/3*2
trace2["y"] = pd.DataFrame(y_array)
trace2.drop(columns=trace2.columns[0], inplace=True)
a = trace2.iloc[::20,:]
b = trace2.iloc[::20,:] 
b["y"] = b.y.add(50)
df_pair2 = pd.concat([a,b],axis=0)
df_pair2.sort_values(by="y", inplace=True)
df_pair2.reset_index(inplace=True, drop=True)
df_pair2

/tmp/ipykernel_478388/2212660272.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b["y"] = b.y.add(50)

            x          y
0    654334.0  7313000.0
1    654334.0  7313050.0
2    654334.0  7314000.0
3    654334.0  7314050.0
4    654334.0  7315000.0
..        ...        ...
101  654334.0  7363050.0
102  654334.0  7364000.0
103  654334.0  7364050.0
104  654334.0  7365000.0
105  654334.0  7365050.0

[106 rows x 2 columns]

In [115]:
# 2 horizontal lines
trace3 = pd.DataFrame(x_array)
trace3["x"] = pd.DataFrame(x_array)
trace3["y"] = ymin + (y_diff+1)/5*4
trace3.drop(columns=trace3.columns[0], inplace=True)
a = trace3.iloc[::20,:]
b = trace3.iloc[::20,:] 
b["x"] = b.x.add(50)
df_pair3 = pd.concat([a,b],axis=0)
df_pair3.sort_values(by="x", inplace=True)
df_pair3.reset_index(inplace=True, drop=True)
df_pair3

/tmp/ipykernel_478388/3314003010.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b["x"] = b.x.add(50)

            x          y
0    597000.0  7354600.8
1    597050.0  7354600.8
2    598000.0  7354600.8
3    598050.0  7354600.8
4    599000.0  7354600.8
..        ...        ...
169  681050.0  7354600.8
170  682000.0  7354600.8
171  682050.0  7354600.8
172  683000.0  7354600.8
173  683050.0  7354600.8

[174 rows x 2 columns]

In [116]:
trace4 = pd.DataFrame(x_array)
trace4["x"] = pd.DataFrame(x_array)
trace4["y"] = ymin + (y_diff+1)/5*3
trace4.drop(columns=trace4.columns[0], inplace=True)
a = trace4.iloc[::20,:]
b = trace4.iloc[::20,:] 
b["x"] = b.x.add(50)
df_pair4 = pd.concat([a,b],axis=0)
df_pair4.sort_values(by="x", inplace=True)
df_pair4.reset_index(inplace=True, drop=True)
df_pair4

/tmp/ipykernel_478388/3739745634.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b["x"] = b.x.add(50)

            x          y
0    597000.0  7344200.6
1    597050.0  7344200.6
2    598000.0  7344200.6
3    598050.0  7344200.6
4    599000.0  7344200.6
..        ...        ...
169  681050.0  7344200.6
170  682000.0  7344200.6
171  682050.0  7344200.6
172  683000.0  7344200.6
173  683050.0  7344200.6

[174 rows x 2 columns]

In [117]:
# 2 diagonal lines perpendicular to the fault
line1 = np.linspace(612800, 635000, 101)
line2 = np.linspace(7327000, 7365000, 101)
df_pair5 = pd.concat([pd.Series(line1),pd.Series(line2)],axis=1)
df_pair5_temp = df_pair5 + 30
df_pair5_temp
df_pair5_out = pd.concat([df_pair5, df_pair5_temp])
df_pair5_out.rename(columns={df_pair5_out.columns[0]: "x", df_pair5_out.columns[1]: "y"}, inplace=True)
df_pair5_out

            x          y
0    612800.0  7327000.0
1    613022.0  7327380.0
2    613244.0  7327760.0
3    613466.0  7328140.0
4    613688.0  7328520.0
..        ...        ...
96   634142.0  7363510.0
97   634364.0  7363890.0
98   634586.0  7364270.0
99   634808.0  7364650.0
100  635030.0  7365030.0

[202 rows x 2 columns]

In [118]:
# 2 diagonal lines perpendicular to the fault
line1 = np.linspace(650000, 671000, 101)
line2 = np.linspace(7329000, 7365000, 101)
df_pair6 = pd.concat([pd.Series(line1),pd.Series(line2)],axis=1)
df_pair6_temp = df_pair6 + 30
df_pair6_temp
df_pair6_out = pd.concat([df_pair6, df_pair6_temp])
df_pair6_out.rename(columns={df_pair6_out.columns[0]: "x", df_pair6_out.columns[1]: "y"}, inplace=True)
df_pair6_out

            x          y
0    650000.0  7329000.0
1    650210.0  7329360.0
2    650420.0  7329720.0
3    650630.0  7330080.0
4    650840.0  7330440.0
..        ...        ...
96   670190.0  7363590.0
97   670400.0  7363950.0
98   670610.0  7364310.0
99   670820.0  7364670.0
100  671030.0  7365030.0

[202 rows x 2 columns]

In [119]:
# 2 opposite diagonal
line1 = np.linspace(597000, 672000, 101)
line2 = np.linspace(7365000, 7322000, 101)
df_pair7 = pd.concat([pd.Series(line1),pd.Series(line2)],axis=1)
df_pair7_temp = df_pair7 + 30
df_pair7_temp
df_pair7_out = pd.concat([df_pair7, df_pair7_temp])
df_pair7_out.rename(columns={df_pair7_out.columns[0]: "x", df_pair7_out.columns[1]: "y"}, inplace=True)
df_pair7_out

            x          y
0    597000.0  7365000.0
1    597750.0  7364570.0
2    598500.0  7364140.0
3    599250.0  7363710.0
4    600000.0  7363280.0
..        ...        ...
96   669030.0  7323750.0
97   669780.0  7323320.0
98   670530.0  7322890.0
99   671280.0  7322460.0
100  672030.0  7322030.0

[202 rows x 2 columns]

In [120]:
# 2 opposite diagonal
line1 = np.linspace(604000, 672000, 101)
line2 = np.linspace(7365000, 7327000, 101)
df_pair8 = pd.concat([pd.Series(line1),pd.Series(line2)],axis=1)
df_pair8_temp = df_pair8 + 30
df_pair8_temp
df_pair8_out = pd.concat([df_pair8, df_pair8_temp])
df_pair8_out.rename(columns={df_pair8_out.columns[0]: "x", df_pair8_out.columns[1]: "y"}, inplace=True)
df_pair8_out

            x          y
0    604000.0  7365000.0
1    604680.0  7364620.0
2    605360.0  7364240.0
3    606040.0  7363860.0
4    606720.0  7363480.0
..        ...        ...
96   669310.0  7328550.0
97   669990.0  7328170.0
98   670670.0  7327790.0
99   671350.0  7327410.0
100  672030.0  7327030.0

[202 rows x 2 columns]

In [123]:
# concat lines
pdList1 = [df_pair1, df_pair2, df_pair3, df_pair4,df_pair5_out, df_pair6_out, df_pair7_out, df_pair8_out]
#pdList2 = [df_pair5_out, df_pair6_out, df_pair7_out, df_pair8_out]  # List of your dataframes
df_pairs = pd.concat(pdList1, axis=0)
df_pairs

            x          y
0    625667.0  7313000.0
1    625667.0  7313050.0
2    625667.0  7314000.0
3    625667.0  7314050.0
4    625667.0  7315000.0
..        ...        ...
96   669310.0  7328550.0
97   669990.0  7328170.0
98   670670.0  7327790.0
99   671350.0  7327410.0
100  672030.0  7327030.0

[1368 rows x 2 columns]

In [124]:
#df_pairs["z"] = 0.1
df_pairs.to_csv("receiver_pairs.csv", index=False, header=None, sep=" ")

## Select only receivers with z<0 

After https://github.com/SeisSol/Meshing/tree/master/remove-groups and https://github.com/SeisSol/Meshing/tree/master/place_receivers

In [ ]:
colnames=['X', 'Y', 'Z'] 
df = pd.read_csv("receiver_grid_placed.csv", names=colnames, sep=" ")
df

In [ ]:
new_df = df.loc[df['Z'] < 0]
new_df

In [ ]:
new_df.to_csv("receiver_grid_seafloor.csv", index=False, header=None, sep=" ")

## for receiver pairs

In [125]:
colnames=['X', 'Y', 'Z'] 
df = pd.read_csv("receiver_pairs_placed.csv", names=colnames, sep=" ")
new_df = df.loc[df['Z'] < 0]
new_df.to_csv("receiver_pairs_seafloor.csv", index=False, header=None, sep=" ")

In [126]:
new_df

             X          Y           Z
0     625667.0  7313000.0 -185.933102
1     625667.0  7313050.0  -93.086167
2     625667.0  7314000.0  -92.132909
3     625667.0  7314050.0  -92.108247
4     625667.0  7315000.0  -92.414811
...        ...        ...         ...
1352  661830.0  7332730.0 -103.612878
1353  662510.0  7332350.0  -87.254516
1354  663190.0  7331970.0  -64.285655
1355  663870.0  7331590.0  -38.173988
1356  664550.0  7331210.0   -1.512535

[1232 rows x 3 columns]